<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="#temporals" type="org.thymeleaf.extras.java8time.expression.Temporals"*/-->
<!--/*@thymesVar id="receiver" type="at.rechnerherz.example.domain.account.Account"*/-->
<!--/*@thymesVar id="changeUsernameURL" type="String"*/-->

<head>
    <title th:text="#{account.username.change_username_mail.title}"/>
    <meta charset="utf-8"/>
</head>

<body>

<th:block th:replace="/templates/fragments/salutation.html :: salutation(contactData=${receiver.contactData})"/>
<br/><br/>

<th:block th:text="#{account.username.change_username_mail.text}"/>
<br/><br/>

<th:block th:replace="/templates/fragments/button.html :: button(
    href=${changeUsernameURL},
    text=#{account.username.change_username_mail.button},
    color='#0a71ba')"/>
<br/><br/>

<th:block th:replace="/templates/fragments/signature.html :: signature"/>

</body>
</html>
